body{
    margin-top: 75px;
}

.tekstopmaak{
    background-color:antiquewhite;
    color:black;
    padding: 10px;
}

#navbalk{
    background-color: rgb(114, 114, 114);
}

.navtekst{
    color:antiquewhite;
}

.ruimteNav{
    scroll-margin-top: 65px;
}
